*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
}

body{
  background-color: #242424;
  color: #fff;
}

button{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

h1{
  background-color: #6e5c5c;
  font-size: 20px;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}