*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #222020;
  color: white;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
  background-color: bisque;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
}

input{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  width: 200px;
  height: 40px;

}


.box{
  width: 200px;
  height: 200px;
  background-color: #5b1f1f;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(222, 215, 185);
}

.page1{
  width: 100vw;
  height: 100vh;
  background-color: #5b1f1f;
}

.page2{
  width: 100vw;
  height: 100vh;
  background-color: #edc2c2;
}

.page3{
  width: 100vw;
  height: 100vh;
  background-color: #cc6868;
}


