*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

html, body{
  width: 100%;
  height: 100%;

}

body{
  background-color: #111;

}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 200px;
  background-color: #1b1919;
  border: 2px solid #f6bebe;
  padding: 20px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px ;
}

.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}
.card p{
  margin: 20px 0;

}
.card button{
  padding: 10px;
  border: none;
  background-color: #f6bebe;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  color: #111;
  font-weight: 500;
}