*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100%;
  height: 100%;
}

.parent{
  height: 100vh;
  width: 100vw;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 20px;
}

.card{
  height: 350px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between ;

}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between  ;
}

.top img {
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #111;

}
.top button{
  display: flex;
  align-items: center;
  justify-content: center;
  border : none;
  background-color: #75757e;
  padding: 4px;
  border-radius: 5px;
  gap: 5px;
  cursor: pointer;
  background-color: transparent;
  color: #222121;
}
.center{
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom : 70px;
}

.center h3{
  font-size: 20px;
  font-weight: 400;
}

.center h3 span{
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #9e9c9c;

}

.center h2 {
  font-size: 20px;
}

.center .tag{
  display: flex;
  margin-top: 5px;
  gap: 5px;
}

.center .tag h4{
  font-size: 12px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d4d4da;
  color: #111;
  padding: 4px 8px;
  font-weight: 500;
  border-radius: 3px 6px;
  font-family: 'Poppins', sans-serif;

}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #aeacac;
  padding-top: 15px;
}

.bottom button{
  background-color: #232324;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #efe8e8;
  font-weight: 500;
  transition: all 0.3s ease-in-out;

}

.bottom h3{
  font-size: 12px;

}

.bottom p{
  font-size: 12px;
  color: #9e9c9c;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
