.btn{
  /* display: flex;
  justify-content: center;  
  align-items: center; */
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  /* background-color: #c98383; */
  color: #ada3a3;
  background-color: #15064e;

}