*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
html,body{
  height: 100%;
  width: 100%;
  background-color: black;
}

.light{
  display: flex;
  justify-content: space-between;
  background-color: bisque;
  color: black;
  gap: 20px;
  padding: 20px 40px;
}


.dark{
  display: flex;
  justify-content: space-between;
  background-color: rgb(60, 51, 51);
  color: white;
  gap: 20px;
  padding: 20px 40px;
}
.nav2{
  display: flex;
  
  gap: 20px;
}

.btn{
  margin-top: 20px;
  padding: 20px 40px;
  background-color: rgb(67, 63, 63);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}